@use "global" as *;

.c-mv-button {
  width: rem(260);
  padding: rem(14) rem(10) rem(15);
  border-radius: rem(31);
  background-color: $yellow;
  color: $white;
  font-weight: bold;
  font-size: rem(16);
  line-height: calc(29 / 16);
}
