@use "global" as *;

.p-strength {
  text-align: center;
}
.p-strength__wrap {
  display: flex;
  gap: 0 calc(50 / 900 * 100%);
  margin-top: rem(59);
}
.p-strength__wrap--reverse {
  flex-direction: row-reverse;
}
.p-strength__body {
  text-align: start;
  width: calc(500 / 900 * 100%);
}
.p-strength__badge {
  display: inline-block;
  padding: rem(9) rem(25);
  background-color: $yellow;
  color: $white;
  font-size: rem(12);
  line-height: calc(20 / 12);
}
.p-strength__title {
  font-size: rem(26);
  font-weight: bold;
  line-height: calc(39 / 26);
  color: $barkBlue;
  margin-top: rem(35);
}
.p-strength__text {
  font-size: rem(16);
  line-height: calc(27 / 16);
  color: $barkBlue;
  margin-top: rem(35);
}
.p-strength__img {
  width: calc(350 / 900 * 100%);
}

.p-strength__img img {
  // width: 100%;
  // height: 260px;
  object-fit: fill;
}
