@use "global" as *;

.l-inner {
  max-width: $innerWidth + $padding-pc * 2;
  padding-right: rem(strip-unit($padding-pc));
  padding-left: rem(strip-unit($padding-pc));
  margin: auto;
  @include mq(md) {
    width: 100%;
    padding-right: rem(strip-unit($padding-sp));
    padding-left: rem(strip-unit($padding-sp));
    margin-right: auto;
    margin-left: auto;
  }
}

.l-inner--sm {
  max-width: 750px;
}
